body{
    width: 100%;
    height: 100vh;
    display:flex;
align-items: center;
justify-content: center;
}
.parent{
    width: 800px;
    height: 100%;
    background-color: rgba(21, 5, 246, 0.32);
    border: 5px solid rgb(222, 104, 104);
    display: flex;
    /* justify-content:center; */
    align-items:flex-start; 
    /* flex-direction:row;
flex-wrap: wrap;
align-content:flex-start; 
gap: 30px 0px;
row-gap: 100px;
column-gap: 100px; */

}
.item{
    width: 200px;
    height: 100px;
    border: 2px solid rgb(248, 119, 119);
    background-color: rgb(121, 121, 124);
}
.item-3{
    /* max-width: 300px;  */
    /* this have higher priority than other*/
    
    /* align-self:center; */
    /* flex-basis: 400px; */
    /* flex-shrink: 3; */

 }
 /* 
.item-2{
 flex: 5;
} */
